.form-width{
    width: 350px;
}
.basis-50{
    flex-basis: 50%;
}
.active-orange{
    font-weight: 600;
    color: orangered;
}
.active-orange:hover{
    font-weight: 600;
    color: rgb(255, 174, 0);
}
.btn-orange {
    background-color: orangered;
}
.btn-orange:hover {
    background-color: rgb(243, 65, 0) ;
}
.social-media img{
    width: 40px;
}
.text-justify{
    text-align: justify;
}
.hover-orange:hover{
    color: rgb(255, 174, 0) !important;
}
.fs-7{
    font-size: .75rem;
}
.project-btn{
    width: 125px;
}