.form-width{
    width: 350px;
}
.basis-50{
    flex-basis: 50%;
}
.text-orange{
    color: orangered;
}
.btn-orange {
    background-color: orangered;
}
.btn-orange:hover {
    background-color: rgb(243, 65, 0) ;
}
.social-media img{
    width: 40px;
}
.text-justify{
    text-align: justify;
}
.hover-orange:hover{
    color: orangered !important;
}
.fs-7{
    font-size: .75rem;
}
.project-btn{
    width: 125px;
}